.nav {
    display: inline-block; 
    width: 100%; 
    background: black;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 8px;
    overflow: hidden;
    margin-left: 128px;
}

.nav-item {
    background: none;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    border: none;
    padding: 8px;
    color: whitesmoke;
    font-family: Futura;
}

.nav-item:hover {
    background: gray;
}

.nav-bar {
}
.options {
    float: right;
    color: white;
}