.nav {
    display: inline-block; 
    width: 100%; 
    background: rgba(255, 255, 255, 0.66); 
    height: 48px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 8px;
    overflow: hidden;
}
.prev-button {
    border-radius: 5px;
    font-weight: bold;
    margin-left: 72px;
    text-align: center;
    border: none;
}
.navbar {
    font-weight: bolder;
    border-radius: 30px;
    margin-left: 16px;
    width: 80%;
    border: none;
    background: lightgray;
    padding: 6px;
}
.prev-button:hover {
    color: white;
}
.file-line {
    width: 95%;
    font-weight: bold;
    background: lightgray;
    border: solid 2px white;
    border-radius: 10px;
    text-align: left;
    padding: 4px;
    padding-left: 16px;
    margin: auto;
}

.file-line:hover {
    color: white;
}

.files-list {
    margin-top: 64px;
}
/*.app-root {
    display: block;
    margin: none;
    padding: none;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
}*/