<!--The content below is only a placeholder and can be replaced.-->
<div class="app-root">
  <div class="nav">
    <button class="prev-button" (click)="goPrev()">
      <fa-icon [icon]="faChevronCircleLeft"></fa-icon>
    </button>
    <input type="text" class="navbar" [formControl]="navbar" (keydown)="onEnter($event)">
  </div>
  <div class="files-list">
    
      
      <div *ngFor='let f of files'> 
        <div *ngIf='file_preview == f' class="preview">
            <pre><code>{{this.preview}}</code></pre>
        </div>
        <button class="file-line" (click)="goItem(f)">
          <button  class="file-line-btn" (mouseover)="goItem(f)" (mouseleave)="clearPreview()">
              <fa-icon [icon]="faEye"></fa-icon>
            </button>
          {{f}}
        </button> 
      </div>
  </div>
  
</div>


