.nav {
    display: inline-block; 
    width: 100%; 
    background: rgba(255, 255, 255, 0.8); 
    height: 48px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 8px;
}
.navbar {
    font-weight: bolder;
    border: none;
    background: lightgray;
    border-radius: 30px;
    padding: 6px;
    margin-left: 72px;
    width: 80%;
}

.file-line {
    width: 100%;
    font-weight: bold;
    background: lightgray;
    border: solid 2px white;
    border-radius: 5px;
    text-align: left;
    padding: 4px;
    padding-left: 16px;
}

.file-line:hover {
    color: white;
}